body {
  margin:0 auto;
  font-family: sans-serif;
}

//margin MOB
/* .header, .about, .portfolioImages, .contact {
    @include mQ(600px){
    margin:0 10%; 
    }
} */

.about {
		height: 190vh;
}

//a tags / hover 
//p tags
//ul